{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "firebase": "readonly"
  },
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": 0,
    "prefer-destructuring": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "jest/no-disabled-tests": "off",
    "jest/no-focused-tests": "off",
    "jest/no-identical-title": "off",
    "jest/prefer-to-have-length": "off",
    "jest/valid-expect": "off",
    "no-extra-semi":"off",
    "quotes": "off",
    "comma-dangle":"off",
    "indent":"off",
    "object-shorthand":"off",
    "import/no-cycle":"off",
    "no-multiple-empty-lines": 1,
    "semi":"off",
    "padded-blocks":"off",
    "one-var-declaration-per-line":"warn",
    "eqeqeq":"warn",
    "space-infix-ops":"off",
    "no-trailing-spaces":"off",
    "no-use-before-define":"off",
    "no-console": 1,
    "dot-notation":"off",
    "space-before-function-paren":"off",
    "object-curly-newline":"off",
    "no-multi-spaces": 1,
    "no-useless-escape":"off",
    "no-unused-vars":"off",
    "eol-last":"off",
    "arrow-spacing": 1,
    "spaced-comment":"off",
    "keyword-spacing":"off",
    "no-useless-return":"off",
    "one-var":"off",
    "max-len":"warn",
    "no-shadow":"off",
    "no-param-reassign":"off",
    "no-unused-expressions":"off",
    "import/no-mutable-exports":"off",
    "prefer-const":"off",
    "prefer-template":"off",
    "space-in-parens":"off",
    "brace-style":"off",
    "no-sequences":"off",
    "default-case":"off",
    "consistent-return":"off",
    "no-undef":"off",
    "arrow-parens":"off",
    "function-paren-newline": 1,
    "no-return-assign":"warn",
    "block-spacing":"off",
    "no-lone-blocks":"off",
    "space-before-blocks":"off",
    "import/newline-after-import":"off"
  }
}