
* {
    box-sizing: border-box;
    margin:0;
    padding:0 ; 
    /*-webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;*/
     
    }
    #btnRegister{
      width: 120px;
    }
/*     --------------------------------SECTION LOGIN------------------------------------------ */


.logoLogin{
display: block;
margin: auto;
width: 50%;
margin-bottom: 10px;
}

h1{  
  color: #208fc2;
  margin: auto !important;
  font-family: 'Turret Road', cursive;   
  display: flex;   
  justify-content: center;    


}
.sectionWelcome{
background: url( "./images/bgNetcoins.jpg");
width: 100%;
height: 625px;
background-position: center;
background-size: cover;
display: none;
}

.containerLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
.containerLogin .sectionLogin{
width: 100%;
height: 625px;
background: white;
padding: 20px;

}
.containerLogin .sectionLogin .login{
    margin: auto;
    width: 100%;
    background-color: rgba(91, 158, 209, 0.419);
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;      
}
.containerInputs{
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInputEmail, .containerInputPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 260px;
  height: 40px;
  padding-left: 3%;
  margin-top: 5%;
  border-radius: 10px;
}

.containerInputEmail i, .containerInputPassword i {
  color: gray;
}

.inputUser, .inputPassword {
display: block;
width: 230px;
height: 34px;
padding: 10px;
border-radius: 5px;
border: 1px solid white;
outline: none; 
}

.loginIcons{
  margin-top: 10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.loginIcons a{
  display: inline-block;
  margin: 5px;
  }
 
.loginIcons a img{
 display: inline-block;
 width: 35px;
 margin: 5px;
}
.lbl{

color: #3674b6; 
display: flex;
justify-content: center;
margin-top: 20px;
 
}
.lblCuenta{
  color: #006fe6; 
  margin: 5px;
}
.linkRegistrate{
  color: #006fe695; 
  margin: 5px;
  cursor: pointer;
}
.groupLbl{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

/*------- Validacion del formulario Login -------*/

.inactiveEmailErrorMessage , .inactivePasswordErrorMessage {
  visibility: hidden;
}

.activeLoginErrorMessage {
  visibility: visible;
  color: rgb(223 28 28 / 77%);
  padding-left: 3%;
  margin-top: 3%;
  font-family: 'Turret Road', cursive;
  font-weight: bold;
  font-size: 0.9rem;
}

.containerInputEmail.error, .containerInputPassword.error{
  border: 2px solid rgba(223, 28, 28, 0.664);
} 

/* --------------------------------------------------- */

.btn {
    display: block;
    margin: auto;
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;  
    font-size: 14px;
    line-height: 1;
    margin: auto;
    padding: 10px;
    margin-top: 20px;   
    text-decoration: none;
    text-align: center;
   /*   font-family: 'Flamenco', cursive; */
  
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  .third {
    border-color:#16AED1;
    letter-spacing: 0.5px;
    text-align: center !important;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 40px 40px #64AED1 inset, 0 0 0 0 #64AED1;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    width: 45%;
    display: flex;
    justify-content: center;
}

  .third:hover {
    color: #64AED1;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #006fe6;
  }

  /*-------------------------------SECTION HOME-------------------------------------------*/

.containerHome {
  display: flex;
  flex-direction: column;
  background-color: rgba(229, 229, 229, 1);
  font-family: 'Inter', sans-serif;
}

.storyGallery {
 
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}
.story {
  flex-basis: 19%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 9px rgba(0, 0, 0, .3);
}
.story img{
position: absolute;
width: 45px;
border-radius: 50%;
top: 10px;
left: 10px;
border-radius: 5px solid #626262;
}
.story p{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 70%;
  font-weight: bold;
}
.story1 {
background-image: linear-gradient(transparent, rgba(0,0,0,0.6)), url(/images/profile4.png);

}
.story2 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.6)), url(/images/story2.png);
}
.story3 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.6)), url(/images/story1.png);
}
.story.story1 img {
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
}
.alignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerWriter{
  width: 95%;
  background: #fff;
  border-radius: 40px;
  padding: 20px;
  color: #626262;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}
.userProfile {
  display: flex;
  align-items: center;
  color: #9a9a9a;
  font-weight: bold;
}
.userProfile img {
  height: 48px;
  width: 49px;
  border-radius: 50%;
  margin: 10px;
}
.userProfile p {
  margin-bottom: -5px;
  color: #626262;
  font-size: 1.1rem;
  margin-bottom: 1%;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.userProfile span {
  font-size: 0.9rem;
}

.containerTextPost {
  padding-left: 55px;
  padding-top: 10px;
}

.containerTextPost textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
  font-size: 1rem;
}

.addPost {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}

.addPost a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}

.addPost a img {
  margin-right: 10px;
  width: 52px;
  height: 30px;
  background-color: white;
}

.postBtn {    
  border: 0px solid rgba(35, 95, 207);
  background-color: rgba(35, 95, 207);
  padding: 10px;
  border-radius: 18px;
  color: white;
  cursor: pointer;
}

.containerPosts {
  width: 95%;
  background: #fff;
  border-radius: 60px;
  padding: 20px;
  padding-left: 5%;
  color: #626262;
  margin: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

.addPosts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 15%;
  margin-top: 2%;
}

.iconPost {
  display: flex;
  align-items: center;

}

.containerAlignItems {
  display: flex;
  justify-content: space-between;
}
.containerAlignItems button {
  border: 0px solid white;
  background-color: white;
  cursor: pointer;
}

.containerRecomendations {
  width: 90%;
  display: flex;
  flex-direction: column;
  background: rgb(233, 207, 207);
  border-radius: 5px;
  padding: 2.5%;
  color: #000000;
  font-family: 'Nunito', sans-serif;
}

.containerUsersRecomendations {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-size: 1rem;
  margin-top: 1%;
  margin-left: 5%;
  column-gap: 1%;
}

.userProfileRecomendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.userProfileRecomendations div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
      font-size: 75%;
}

.userProfileRecomendations img {
  width: 40%;
  border-radius: 50%;
}

.userProfileRecomendations button {
  border: 0px;
  background-color: transparent;
}

.userProfileRecomendations button img {
  width: 75%;
  border-radius: 0%;
}

/* ----------------------------------------MENU HAMBURGUESA --------------------------------------------*/

 label img {
  display: block;
  width: 40px; 
}
 label:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.respmenu li{
display: flex;
flex-direction: column;
align-items: center;
}

.respmenu a {
  color: inherit;
  text-decoration: none;
  display: flex;
  padding: 40px ;
 /*  border-bottom: 2px solid #456789; */
  background: #9bd6f241;
  /* font-variant: small-caps; */
  font-size: 18px;
  text-transform: uppercase;
  color: #3674b6;
 /*  text-shadow: 1px 1px black; */
  justify-content: center;
  width: 100%;
}
.respmenu input[type="checkbox"], .respmenu .imagen{
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
  top: 0;
  width: 48px;
  height: 48px;
}

.respmenu .imagen {
  font-size: 48px;
  pointer-events: none;

}

.respmenu input[type="checkbox"] {
  opacity: 0;
  min-height: 48px ;

/*   position: relative;*/
} 

.respmenu {
  color: white;
  position: relative;
  background: #5ab8e441;
  min-height: 48px ;
  display: block;
 
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

/* -------------------------------------- */
.containerMenuIcons{
  position: relative;
}
.ulMenu2 {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.liMenu {
  display: inline-block;
}

.ulMenu2 .liMenu a img{
  display: inline-block;
  width: 40px;
 /*  position: absolute; */
}

.content{
  background: rgba(229, 229, 229, 1);
 
  }
  .titulo{
color: #3674b6;
text-transform: uppercase;
font-size: 18px;
	
  }
  .contentTitulo{
   
    display: flex ;   
    justify-content: center;
    min-height: 48px;
    align-items: center;
  }
  

 .containerAccount .userProfileBody,
 .containerAccount {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
    

 }
 
 .containerAccount .userProfile{
     width: 100%;
     display: flex;
     justify-content: center;
     background: linear-gradient(#6294e7, transparent);
     margin-bottom: 1.25rem;
 }
 
 .containerAccount .profileUserCover{
     display: block;
     position: relative;
     width: 90%;
     height: 17rem;
     background: linear-gradient(45deg, #99c5f5, #6294e7);
     border-radius: 0 0 20px 20px;
 }
 
 .containerAccount .profileUserCover .boton-portada {
     position: absolute;
     top: 1rem;
     right: 1rem;
     border: 0;
     border-radius: 8px;
     padding: 12px 25px;
     background-color: rgba(229, 229, 229, 1);
     cursor: pointer;
 }
 
 .containerAccount .profileUserCover.boton-portada i {
     margin-right: 1rem;
 }
 
 .containerAccount .userProfileAvatar {
     display: flex;
     width: 180px;
     height: 180px;
     align-items: center;
     justify-content: center;
     border: 7px solid #FFFFFF;
     background-color: #626262;;
     border-radius: 50%;
     box-shadow: 0 0 12px rgba(0, 0, 0, .2);
     position: absolute;
     bottom: -40px;
     left: calc(50% - 90px);
     z-index: 1;
 }
 
 .containerAccount .userProfileAvatar img {
     width: 100%;
     height:100% ;
     position: relative;
     border-radius: 50%;
     object-fit: cover;
     justify-content: center;
 }
 
 .containerAccount .userProfileAvatar .boton-avatar {
     position: absolute;
     left: -2px;
     top: -2px;
     border: 0;
     background-color: #fff;
     box-shadow: 0 0 12px rgba(0, 0, 0, .2);
     width: 45px;
     height: 45px;
     border-radius: 50%;
     cursor: pointer;
 }
 
 .containerAccount .userProfileBody {
     width: 80%;
     position: relative;
     max-width: 750px;
     justify-content: center;
 }
 
 .containerAccount .userProfileBody .name {
     display: block;
     width: 100%;
     font-size: 1.75em;
     margin-bottom: 0.5rem;
 }
 
 .containerAccount .userProfileBody .texto {
     color: #848484;
     font-size: 0.95em;
 }
 
 .containerAccount .perfil-usuario-footer,
 .containerAccount .userProfileBio {
     display: flex;
     flex-wrap: wrap;
     padding: 1.5rem 2rem;
     box-shadow: 0 0 12px rgba(0, 0, 0, .2);
     background-color: #fff;
     border-radius: 15px;
     width: 100%;
 }
 
 .containerAccount .userProfileBio  {
     margin-bottom: 1.25rem;
     text-align: center;
 }

 .userBio{

  justify-content: center;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(229, 229, 229, 1)
 
}


 .containerAccount .lista-datos {
     width: 50%;
     list-style: none;
 }
 
 .containerAccount .lista-datos li {
     padding: 5px 0;
 }
 
 .containerAccount .lista-datos li>.icono {
     margin-right: 1rem;
     font-size: 1.2rem;
     vertical-align: middle;
 }
 
 @media (min-width: 410px) {
  .login {
    background: url(./images/bgNetcoins.jpg);
    width: 100%;
    height: 625px;
    background-position: center;
    background-size: cover;
    display: none;
  }

  .containerInputs {
    background: rgb(191 216 235);
    border-radius: 5px;
    padding: 1%;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.63); 
  }
 }
 
 /* adactacion a dispositivos */
 @media (max-width: 750px) {
     .containerAccount .lista-datos {
         width: 100%;
     }
 
     .containerAccount .profileUserCover,
     .containerAccount .userProfileBody {
         width: 95%;
         position: relative;
     }
 
  
    }


    /* link Reestablecer contraseña*/

    #link{
    
      margin-top: 5px;

      display: block;
      font-size: 12px;
      text-decoration: underline ;
      cursor: pointer;
    }