
* {
    box-sizing: border-box;
    margin:0;
    padding:0 ;   
     
    }
    #btnRegister{
      width: 120px;
    }
/*     --------------------------------SECTION LOGIN------------------------------------------ */


.logoLogin{
display: block;
margin: auto;
width: 50%;
margin-bottom: 30px;
}
h1{  
  color: #64AED1;
  margin: auto !important;
  font-family: 'Turret Road', cursive;   
  display: flex;
  justify-content: center;

}
.sectionWelcome{
background: url( "./images/bgNetcoins.jpg");
width: 100%;
height: 625px;
background-position: center;
background-size: cover;
display: none;
}


.containerLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
.containerLogin .sectionLogin{
width: 100%;
height: 625px;
background: white;
padding: 20px;

}
.containerLogin .sectionLogin .login{
    margin: auto;
    width: 100%;
    background-color: rgba(91, 158, 209, 0.419);
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;      
}
.containerInputs{
    width: 100%;
    max-width: 300px;
   /*  height: 30%  ; */
  /*   background: chartreuse; */
  
    margin: auto;
}
.containerInputs .inputUser{
    
display: block;
width: 230px;
height: 40px;
padding: 10px;
border-radius: 10px;
border: 1px solid white;
margin: 20px auto ;

}
.containerInputs .inputPassword{
display: block;
width: 230px;
height: 40px;
padding: 10px;
border-radius: 10px;
border: 1px solid white;
margin: 0 auto 20px;
}
.loginIcons{
  margin-top: 10px;
display: flex;
flex-direction: row;
justify-content: center;
}
.loginIcons a{
  display: inline-block;
  margin: 5px;
  }
 
.loginIcons a img{
 display: inline-block;
 width: 35px;
 margin: 5px;
}
.lbl{

color: #3674b6; 
display: flex;
justify-content: center;
margin-top: 20px;
 
}
.lblCuenta{
  color: #006fe6; 
  margin: 5px;
}
.linkRegistrate{
  color: #006fe695; 
  margin: 5px;
  cursor: pointer;
}
.groupLbl{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
/* --------------------------------------------------- */

.btn {
    display: block;
    margin: auto;
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
  
    font-size: 14px;
    line-height: 1;
    margin: auto;
    padding: 10px;
    margin-top: 20px; 
  
    text-decoration: none;
    text-align: center;
   /*   font-family: 'Flamenco', cursive; */
  
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  .third {
    border-color:6AED1;
    letter-spacing: 0.5px;
    text-align: center !important;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 40px 40px #64AED1 inset, 0 0 0 0 #64AED1;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    color: #64AED1;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #006fe6;
  }

.containerGeneral {
  display:grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "header"
    "containerMenuIcons"
    "main";
}
/* 
header{
  grid-area:header;
}

.containerMenuIcons{
  grid-area:containerMenuIcons;
}

main{
  grid-area:containerPosts;
}



  @media screen and (min-width: 540px) { 
    .containerLogin  .sectionLogin .login {
    
      background-image:url(/images/bgNetcoins.jpg);
      background-color:rgb(255, 255, 255) ;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      border-radius: 0px;
      background-position: center center;


    }
 .containerInputs{
  background-color: rgb(190,228, 246) ;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 13px 0 rgba(0,0,0,1), 0 14px 45px 0 rgba(0,0,0,1);
  

 }

  }
 */
 .containerAccount .userProfileBody,
 .containerAccount {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
 }
 
 .containerAccount .userProfile {
     width: 100%;
     display: flex;
     justify-content: center;
     background: linear-gradient(#317FFF, transparent);
     margin-bottom: 1.25rem;
 }
 
 .containerAccount .profileUserCover {
     display: block;
     position: relative;
     width: 90%;
     height: 17rem;
     background: linear-gradient(45deg, #a2e6f194, #317FFF);
     border-radius: 0 0 20px 20px;
 }
 
 .containerAccount .profileUserCover .boton-portada {
     position: absolute;
     top: 1rem;
     right: 1rem;
     border: 0;
     border-radius: 8px;
     padding: 12px 25px;
     background-color: rgba(0, 0, 0, .5);
     color: #fff;
     cursor: pointer;
 }
 
 .containerAccount .profileUserCover .boton-portada i {
     margin-right: 1rem;
 }
 
 .containerAccount .userProfileAvatar {
     display: flex;
     width: 180px;
     height: 180px;
     align-items: center;
     justify-content: center;
     border: 7px solid #FFFFFF;
     background-color: #DFE5F2;
     border-radius: 50%;
     box-shadow: 0 0 12px rgba(0, 0, 0, .2);
     position: absolute;
     bottom: -40px;
     left: calc(50% - 90px);
     z-index: 1;
 }
 
 .containerAccount .userProfileAvatar img {
     width: 100%;
     position: relative;
     border-radius: 50%;
  
 }
 

 .photoPerfil{

  object-fit: cover;
  width: 100%;
  height: 100%;

 }
 .containerAccount .userProfileAvatar .boton-avatar {
     position: absolute;
     left: -2px;
     top: -2px;
     border: 0;
     background-color: #fff;
     box-shadow: 0 0 12px rgba(0, 0, 0, .2);
     width: 45px;
     height: 45px;
     border-radius: 50%;
     cursor: pointer;
 }
 
 .containerAccount .userProfileBody {
     width: 70%;
     position: relative;
     max-width: 750px;
 }
 
 .containerAccount .userProfileBody .name {
     display: block;
     width: 100%;
     font-size: 1.75em;
     margin-bottom: 0.5rem;
 }
 
 .containerAccount .userProfileBody .texto {
     color: #848484;
     font-size: 0.95em;
 }
 
 .containerAccount .perfil-usuario-footer,
 .containerAccount .perfil-usuario-bio {
     display: flex;
     flex-wrap: wrap;
     padding: 1.5rem 2rem;
     box-shadow: 0 0 12px rgba(0, 0, 0, .2);
     background-color: #fff;
     border-radius: 15px;
     width: 100%;
     margin-top: 15px;
 }
 
 .containerAccount.perfil-usuario-bio {
     margin-bottom: 1.25rem;
     text-align: center;
 }
 
 .containerAccount .lista-datos {
     width: 50%;
     list-style: none;
 }
 
 .containerAccount .lista-datos li {
     padding: 5px 0;
 }
 
 .containerAccount.lista-datos li>.icono {
     margin-right: 1rem;
     font-size: 1.2rem;
     vertical-align: middle;
 }
 
 .containerAccount .redes-sociales {
     position: absolute;
     right: calc(0px - 50px - 1rem);
     top: 0;
     display: flex;
     flex-direction: column;
 }
 
 .containerAccount .redes-sociales .boton-redes {
  border: 0;
  background-color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  font-size: 1.3rem;
}

.containerAccount .redes-sociales .boton-redes+.boton-redes {
  margin-top: .5rem;
}

.containerAccount .boton-redes.facebook {
  background-color: #317FFF;
}

.containerAccount .boton-redes.twitter {
  background-color: #35E1BF;
}

.containerAccount .boton-redes.instagram {
  background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}



 @media (max-width: 750px) {
  .containerAccount .lista-datos {
      width: 100%;
  }

  .containerAccount .profileUserCover
  .containerAccount .userProfileBody {
      width: 95%;
  }

  .containerAccount .redes-sociales {
      position: relative;
      flex-direction: row;
      width: 100%;
      left: 0;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      align-items: center;
      justify-content: center
  }

  .containerAccount  .boton-redes+.boton-redes {
      margin-left: 1rem;
      margin-top: 0;
  }

  .containerAccount .redes-sociales .boton-redes+.boton-redes {
    margin-left: 1rem;
    margin-top: 0;
}
}