/*------------SECTION FAVORITES------------*/

.content h2 {
    font-family: 'Questrial', sans-serif;
    font-size: 1.7rem;
    background: white;
    letter-spacing: 7px;
    position: fixed;
    width: 60%;
    background: black;
    margin-top: 40px;
    text-align: center;
}

.favoritesPublishes {
    margin-top: 35%;
}

.titleFavorite {
    margin: 50px;
}

@media (min-width: 400px) {
    .favoritesPublishes {
        margin-top: 25%;
    }
}

@media (min-width: 600px) {
    .favoritesPublishes {
        margin-top: 20%;
    }
}

@media (min-width: 700px) {
    .favoritesPublishes {
        margin-top: 5%;
    }
}

@media (min-width: 1000px) {
    .favoritesPublishes {
        margin-top: 3%;
    }
}